@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    color: #212121;
}

body {
    width: 100vw;
    height: 1700px;
}

.container {
    width: 100%;
    height: 100%;
}

#topnav, #hello {
    width: 100%;
    height: 100%;
}

#topnav {
    display: grid;
    align-items: center;
    grid-template-columns: 60% 40%;
    position: fixed;
    top: 0;
    height: 50px;
    background-color: white;
}

.navbar {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-items: center;
}

.logo {
    margin-left: 20px;
    font-size: 24px;
}

.name {
    font-weight: 700;
}

.menus {
    text-decoration: none;
}

.main {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-rows: 17% 18% 47% 13% 5%;
}

.section-title {
    font-weight: 600;
    font-size: 24px;
}

#hello {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.i-am {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    align-self: end;
    justify-self: end;
    padding-right: 20px;
    font-size: 32px;
}

.software {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    align-self: start;
    justify-self: end;
    text-align: end;
    padding-right: 20px;
    font-size: 24px;
}

.mainimg {
    width: 500px;
    height: auto;
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: center;
}

#skills{
    width: 80%;
    height: 90%;
    justify-self: center;
    display: grid;
    grid-template-rows: 13% 29% 29% 29%;
}

.skill{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 15% 85%;
    align-items: center;
}

.skillset{
    display: grid;
    width: 50%;
    grid-template-columns: 33% 34% 33%;
    align-items: center;
}

.eachskill{
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}

.skill-icon {
    width: 40px;
    height: 40px;
}

.eachskill {
    font-size: 14px;
}

.eachskill > span {
    font-size: 12px;
}

#projects {
    width: 80%;
    height: 90%;
    justify-self: center;
    display: grid;
    grid-template-rows: 5% 95%;
    grid-template-columns: 50% 50%;
}

.project{
    width: 90%;
    display: grid;
    grid-template-rows: 70% 5% 5% 20%;
    justify-self: center;
}

.adoptoy {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1 ;
}

.project-github{
    display: grid;
    justify-items: center;
    align-items: center;
}

.projectimg{
    width: 320px;
    border-radius: 10px;
}

.project-title{
    font-weight: 600;
    font-size: 20px;
    justify-self: center;
}

.project-tech {
    width: 85%;
    font-size: 12px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
    justify-self: center;
}

.tech-group {
    background-color: #212121;
    color: #f8f8f8;
    text-align: center;
    line-height: 25px;
    width: 85px;
    height: 25px;
    border-radius: 10px;
}

.tech-language {
    background-color: #696969;
}

.project-desc {
    font-size: 14px;
    line-height: 22px;
}

.healthguard {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1 ;
}

#about, #contact {
    width: 80%;
    height: 100%;
    justify-self: center;
}

#about {
    display: grid;
    grid-template-rows: 10% 90%;
}

.profile {
    width: 80%;
    display: grid;
    grid-template-columns: 30% 70%;
    justify-self: center;
    align-items: center;
    justify-items: center;
}

.profile-img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.aboutme {
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
}

#contact{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}

.contact-icons{
    width: 70%;
    justify-self: center;
    display: grid;
    grid-template-columns: 60% 20% 20%;
    align-items: center;
    justify-items: center;
}

.contact-icon{
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
}

.email-section{
    display: grid;
    align-items: center;
}


.icons {
    width: 30px;
    height: 30px;
}

/* @media screen and (max-width: 1130px) {
    #skills, #projects, #about, #contact {
        width: 90%;
    }

    #topnav {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 1010px) {
    #skills, #projects, #about, #contact {
        width: 98%;
    }
} */

@media screen and (max-width: 1130px) {
    body {
        width: 95vw;
        height: 2600px;
    }

    #skills, #projects, #about, #contact {
        width: 80%;
        justify-items: center;
    }

    #topnav {
        grid-template-columns: 40% 60%;
    }

    .main {
        grid-template-rows: 19% 15% 52% 8% 6%;
    }

    #hello {
        grid-template-columns: none;
        grid-template-rows: 60% 15% 25%;
    }

    .mainimg{
        grid-column: unset;
        grid-row: 1 / span 1;
        width: 400px;
    }

    .i-am{
        grid-column: unset;
        grid-row: 2 / span 1;
        justify-self: center;
        align-self: end;
        padding: 0;
    }

    .software{
        grid-column: unset;
        grid-row: 3 / span 1;
        justify-self: center;
        align-self: start;
        text-align: center;
        line-height: 36px;
        padding: 0;
    }

    .skill{
        justify-items: center;
    }

    .two-skill{
        width: 35%;
        grid-template-columns: 50% 50%;
    }

    .eachskill{
        justify-items: center;
    }

    #projects{
        grid-template-columns: none;
        grid-template-rows: 4% 48% 48%;
        height: 100%;
    }

    .projects-section{
        grid-column: unset;
        align-self: end;
        grid-row: 1 / span 1;
        padding-bottom: 15px;
    }

    .adoptoy{
        grid-column: unset;
        grid-row: 2 / span 1;
    }

    .healthguard{
        grid-column: unset;
        grid-row: 3 / span 1;
    }

    .project{
        width: 100%;
        height: 100%;
        grid-template-rows: 70% 5% 5% 20%;
    }

    .profile{
        width: 100%;
        height: 100%;
        grid-template-columns: 40% 60%;
        align-items: center;
    }

    .aboutme{
        line-height: 20px;
    }


}

@media screen and (max-width: 730px) {

    body {
        width: 95vw;
        height: 2600px;
    }

    #skills, #projects, #about, #contact {
        width: 95%;
        justify-items: center;
    }

    .skillset{
        width: 65%;
    }

    .main {
        grid-template-rows: 17% 13% 53% 13% 4%;
    }

    #about {
        grid-template-rows: 20% 80%;
    }

    .profile {
        grid-template-columns: none;
        grid-template-rows: 50% 50%;
    }

    #contact{
        grid-template-columns: none;
        grid-template-rows: 40% 60%;
    }

    .contact-icons {
        align-self: start;
    }
    
}

@media screen and (max-width: 550px) {

    body {
        width: 95vw;
        height: 2700px;
    }

    .main {
        grid-template-rows: 17% 13% 51% 15% 4%;
    }

    .navbar {
        display: none;
    }

    .skillset{
        width: 80%;
    }

    .project-tech{
        width: 100%;
    }

    #about {
        grid-template-rows: 10% 90%;
    }

    .contact-icons{
        width: 80%;
    }
}